.div_zip, .div_city
{
    display: none!important;
}
.select2-container
{
    height: 38px!important;
}
.select2-container, .select2-container .select2-choice
{
    height: 38px!important;
    line-height: 39px;
}